@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Montserrat:wght@100&family=Sacramento&display=swap");

:root {
  --font-family1: "Sacramento", cursive;
  --font-family2: "Source Sans Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* ================
  Start Footer
  ================ */

.footer {
  background-color: rgba(0, 0, 0, 0.933);
  color: white;
  font-family: monospace;
  height: 40px;
  text-align: center;
}
.footer-txt {
  opacity: 0.6;
  padding: 9px 0 10px 0;
}

/* ================
  End Footer
  ================ */

/* ================
  Start nav
  ================ */
#logo {
  height: 60px;
  width: 60px;
  margin: 0.5rem 0.5rem 0.5rem 4rem;
}
.jordan-nav {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  border: 1px solid black;
}
#jordan-nav {
  width: 100%;
  height: 100%;
  display: flex;
}
.nav-left {
  width: 50%;
}
.nav-right {
  width: 50%;
}
.nav-right ul li {
  list-style: none;
  float: left;
  margin: 1.5rem 0 0 4rem;
  font-size: 14px;
}

.nav-right ul a {
  text-decoration: none;
  color: #000;
  font-family: var(--font-family2);
  font-weight: bold;
}
.nav-right ul a:hover {
  color: #ff004f;
  opacity: 0.6;
}
/* ================
  end nav
  ================ */

/* ================
  Start Header
  ================ */

/* ================
  start main
  ================ */

.main {
  height: 700px;
  width: 100%;
  background-image: url("/images/main-bg.png");
  background-size: cover;
  margin-bottom: 1%;
  display: flex;
}

.main-l {
  display: grid;
  place-items: center;
  /* border: 1px solid white; */
  width: 40%;
}
.main-left {
  height: 500px;
  width: 55%;
  /* border: 1px solid blue; */
  text-align: center;
}
.left-p-1 {
  font-family: var(--font-family1);
  color: #b3e140;
  font-size: 25px;
  margin: 40% 0 3% 0;
}
.left-p-2 {
  color: white;
  font-family: var(--font-family2);
  font-size: 35px;
  margin: 0% 0 20% 0;
}
.left-p-3 {
  color: white;
  font-family: var(--font-family2);
  font-size: 13px;
  margin: 0% 0 5% 0;
}
.left-p-4 {
  color: white;
  font-family: var(--font-family2);
  font-size: 23px;
  margin: 0% 0 5% 0;
}
.left-a {
  color: white;
  font-family: var(--font-family2);
  font-size: 12px;
}
.main-r {
  /* border: 1px solid red; */
  width: 60%;
  display: grid;
  place-items: center;
}

.main-i {
  rotate: -12deg;
}

/* ==========leY===
  end main
  ================ */

/* ================
  slider title
  ================ */

.slide-title {
  height: 240px;
  width: 100%;
  text-align: center;
  padding-top: 70px;
}

.slide-title h4 {
  font-weight: 100;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: var(--font-family1);
  font-weight: bold;
}
.slide-title h1 {
  font-size: 40px;
}

.slide-title p {
  font-weight: 100;
  margin-top: 20px;
  word-spacing: 1px;
  font-family: var(--font-family2);
}

.slide-title button {
  margin-top: 2%;
  width: 100px;
  height: 35px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: black;
  font-family: var(--font-family2);
}

.slide-title button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.823);
}
/* ================
  slider title
  ================ */

/* ================
  End Header
  ================ */

/* ================
  Top-selling
  ================ */

.top-sell {
  height: 550px;
}

.top-sell h3 {
  font-family: var(--font-family1);
  text-align: center;
  color: rgba(0, 0, 0, 0.634);
}
.top-sell h1 {
  font-family: var(--font-family2);
  text-align: center;
  margin-top: 1%;
  color: #000;
}
.top-sell-products {
  height: 380px;
  width: 88%;
  margin: 1.5% 5% 0 5%;
  /* border: 1px solid red; */
  display: flex;
  position: relative;
}
.top-sp {
  text-align: center;
  display: grid;
  place-items: center;
}
.top-sp-2 {
  height: 45px;
  display: flex;
}
.top-sp-1 {
  font-family: var(--font-family2);
  font-size: 15px;
}

.top-sp-1-1 {
  text-decoration: line-through;
  font-family: var(--font-family2);
  color: rgba(0, 0, 0, 0.519);
}
.top-sp-1-2 {
  color: #000;
  font-family: var(--font-family2);
  margin-left: 10%;
}

.top-s1 {
  border: 1px solid rgba(0, 0, 0, 0.142);
  height: 100%;
  width: 23%;
  margin-right: 1%;
  margin-left: 2%;
  transform: scale(1);
  transition: transform 0s;
}

.top-s2,
.top-s3,
.top-s4 {
  border: 1px solid rgba(0, 0, 0, 0.142);
  height: 100%;
  width: 23%;
  margin-right: 1%;
  transform: scale(1);
  transition: transform 0s;
}

.top-s1:hover,
.top-s2:hover,
.top-s3:hover,
.top-s4:hover {
  transform: scale(1.01);
  transition: transform 0.3s;
  box-shadow: 0.2px 0.2px 5px grey;
}
.top-si {
  height: 80%;
  width: 100%;
}
.top-sp {
  /* border: 1px solid green; */
  height: 20%;
  width: 100%;
}
.discount {
  position: absolute;
  top: 5px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: var(--font-family2);
  font-size: small;
  background-color: #000;
  color: #b3e140;
  border-radius: 3px;
}
/* ================
  Top-selling
  ================ */

/* ================
  Product-typo
  ================ */
.productType {
  height: 500px;
  background-color: #000;
  /* border: 1px solid white; */
  display: grid;
  place-items: center;
}

#productType {
  width: 90%;
  height: 400px;
  /* border: 1px solid red; */
  display: flex;
}

.product-1,
.product-2,
.product-3,
.product-4 {
  width: 24%;
  height: 100%;
  /* border: 1px solid yellow; */
  margin: 0 0.7% 0 0.7%;
}
.product-img {
  /* border: 1px solid blue; */
  width: 90%;
  height: 80%;
}
.product-p {
  /* border: 1px solid green; */
  font-family: var(--font-family2);
  font-size: 15px;
  color: white;
  margin: 3% 0 3% 0;
  width: 90%;
  height: 20%;
}
.product-p-span {
  color: #b3e140;
  font-size: 12.5px;
  height: 20%;
}
/* ================
  Product-typo
  ================ */

/* ================
 National-collection
  ================ */

.national {
  height: 700px;
  width: 100%;
  display: grid;
  place-items: center;
}

.national-img {
  /* border: 1px solid red; */
  height: 650px;
  width: 1400px;
}
#national-img {
  height: 100%;
  width: 100%;
}
/* ================
 National-collection
  ================ */

/* ================
  Featured Product
  ================ */

.featured-product {
  padding: 55px 55px 0 55px;
  height: 500px;
  background: #000;
}

.f-p-h {
  color: white;
  font-size: 20px;
  font-family: var(--font-family2);
}

.sample {
  /* border: 1px solid blue; */
  height: 400px;
  display: flex;
}
.sample-1 {
  width: 75%;
  /* border: 1px solid red; */
  margin: 1.5% 0 5% 0;
  height: 90%;
}
.sample-top,
.sample-down {
  display: flex;
  height: 50%;
  /* border: 1px solid yellow; */
}
.sample-top-1 {
  /* border: 1px solid green; */
  border: 1px solid rgba(255, 255, 255, 0.055);
  width: 50%;
  display: flex;
  margin-right: 15px;
}
.sample-top-2 {
  /* border: 1px solid green; */
  border: 1px solid rgba(255, 255, 255, 0.055);
  width: 50%;
  display: flex;
}
.sample-down-1 {
  /* border: 1px solid green; */
  border: 1px solid rgba(255, 255, 255, 0.055);
  width: 50%;
  display: flex;
  margin-right: 15px;
  margin-top: 5px;
}
.sample-down-2 {
  /* border: 1px solid green; */
  border: 1px solid rgba(255, 255, 255, 0.055);
  width: 50%;
  display: flex;
  margin-top: 5px;
}

.sample-2 {
  width: 25%;
  margin-left: 2%;
  margin-top: 1.5%;
  position: relative;
}

#sample-2-img {
  height: 100%;
  width: 100%;
}

.sample-2-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 22, 22, 0.645);
}
.sample-2-img {
  width: 95%;
  height: 95%;
  position: relative;
  /* border: 1px solid pink; */
}
.sample-2-p1 {
  position: absolute;
  top: 250px;
  left: 85px;
  font-size: 45px;
  font-family: var(--font-family1);
  color: #b3e140;
}
.sample-2-p2 {
  position: absolute;
  top: 290px;
  left: 20px;
  font-size: 45px;
  font-family: var(--font-family2);
  color: white;
}
.sample-img {
  width: 100%;
  height: 100%;
  margin: 1.5% 0 1.5% 0;
  /* border: 1px solid pink; */
  position: relative;
}
.sample-img-sale {
  width: 50px;
  height: 50px;
  position: absolute;
}

.sample-top-1-img,
.sample-top-2-img,
.sample-down-1-img,
.sample-down-2-img {
  /* border: 1px solid white; */

  width: 35%;
}

.sample-top-1-p,
.sample-top-2-p,
.sample-down-1-p,
.sample-down-2-p {
  /* border: 1px solid red; */
  width: 75%;
}

.sample-p-1 {
  color: white;
  font-family: var(--font-family2);
  margin: 15% 0% 0% 7%;
}
.rating-img {
  width: 60px;
  height: 60px;
  margin: -8% 0% -8% 7%;
}
.sample-p-3 {
  display: flex;
}
.sample-p-3-1 {
  text-decoration: line-through;
  margin: 3% 0% 0% 7%;
  color: rgba(255, 255, 255, 0.714);
}
.sample-p-3-2 {
  margin: 3% 0% 0% 7%;
  color: #b3e140;
}

/* ================
  Featured Product
  ================ */

/* ================
  Why us
  ================ */

.whyus {
  height: 450px;
}

.offer {
  margin-top: 5%;
  height: 60px;
  background-color: #000;
  display: grid;
  place-items: center;
}

.offer-p {
  font-family: var(--font-family2);
  color: white;
}
#offer {
  font-family: var(--font-family2);
  color: #b3e140;
}

.whyus-sub {
  /* border: 1px solid red; */
  height: 250px;
  display: flex;
  margin: 5%;
}

.whyus-sub-1,
.whyus-sub-2,
.whyus-sub-3,
.whyus-sub-4 {
  /* border: 1px solid blue; */
  width: 25%;
  display: grid;
  place-items: center;
}
.sub-img {
  /* border: 1px solid green; */
  width: 60%;
  height: 150px;
  display: grid;
  place-items: center;
}
#sub-img {
  height: 50%;
  width: 40%;
}
.sub-p {
  /* border: 1px solid yellow; */
  height: 60px;
  width: 70%;
}
.sub-p-1 {
  font-family: var(--font-family2);
  text-align: center;
}
.sub-p-2 {
  font-size: 14px;
  font-family: var(--font-family2);
  margin: 2% 0 1% 0;
  text-align: center;
  color: #b3e140;
}
/* ================
  Why us
  ================ */

/* ================
    recent-post
  ================ */

.post {
  height: 500px;
  /* border: 1px solid blue; */
  background-color: rgba(0, 0, 0, 0.045);
  display: grid;
  place-items: center;
}

.post h3 {
  font-family: var(--font-family1);
  text-align: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.552);
  margin: 0 0 1% 0;
}
.post h1 {
  font-family: var(--font-family2);
  text-align: center;
  font-size: 28px;
}
.post-type {
  /* border: 1px solid green; */
  width: 90%;
  margin-top: 2%;
  height: 350px;
  display: flex;
}
.post-1,
.post-2,
.post-3,
.post-4 {
  width: 24%;
  margin-left: 1%;
  /* border: 1px solid red; */
}
.post-img {
  height: 75%;
  width: 100%;
  /* border: 1px solid blue; */
}
.post-p1 {
  font-family: var(--font-family2);
  font-size: 14px;
  margin: 5px 0 5px 2px;
  color: rgba(0, 0, 0, 0.69);
}
.post-p2 {
  font-family: var(--font-family2);
  font-size: 15px;
  margin: 5px 0 5px 2px;
}
/* ================
    recent-post
  ================ */

/* ================
Start Contact
================ */

.contact {
  background-color: #000;
  height: 500px;
  width: 100%;
  display: flex;
}
.left {
  background-image: url(/images/contact-left.jpg);
  background-size: cover;
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
}
.left::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: -1;
}
.right {
  height: 100%;
  width: 50%;
}
.shoe-img {
  height: 100%;
  width: 100%;
}
.input {
  height: 40px;
  width: 40%;
  margin-top: 20px;
  margin-right: 5px;
  background: transparent;
  font-family: monospace;
  border: 1px solid rgba(255, 255, 255, 0.758);
  border-radius: 3px;
  color: white;
}

textarea {
  height: 60px;
  margin-top: 20px;
  background: transparent;
  font-family: monospace;
  border: 1px solid rgba(255, 255, 255, 0.758);
  border-radius: 3px;
  color: white;
  width: 82%;
}
.con-left {
  color: black;
}
form {
  margin: 55px 15px 15px 35px;
  padding-top: 30px;
}

.right input::placeholder {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.72);
  font-family: var(--font-family2);
  font-size: 13px;
}
.right textarea::placeholder {
  padding-left: 10px;
  padding-top: 1%;
  color: rgba(255, 255, 255, 0.72);
  font-size: 13px;
}
.contact-main-btn {
  margin: 15px 0 0 0;
  height: 30px;
  width: 100px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.contact-main-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ff004f;
  border-radius: 3px;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0s;
}
.contact-main-btn:hover::before {
  transform: scaleY(1);
  transition: transform 0.5s;
  transform-origin: bottom;
  cursor: pointer;
}
.con-left {
  color: white;
  font-family: monospace;
  margin: 7rem 0rem 1.5rem 5rem;
  font-size: large;
}
#left-title {
  font-family: monospace;
  color: white;
  font-size: 50px;
  width: 80%;
  margin: 1rem 3rem 1.5rem 5rem;
}
.con-left-2 {
  color: white;
  font-family: monospace;
  margin-left: 5rem;
  font-size: large;
}

/* ================
End Contact
================ */

/* ==================================================================about-css-start===================================================================== */

/* ================
    about-us
  ================ */
.aboutus {
  /* border: 1px solid red; */
  height: 450px;
  background-color: rgba(0, 0, 0, 0.051);
  display: flex;
}
.a1-h3{
  font-family: var(--font-family1);
  color: #b3e140;
  font-size: 20px;
  margin: 8% 0 1% 8%;
}
.a1-h1{
  font-family: var(--font-family2);
  margin: 2% 0 0 8%;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}

.a2-h4{
  font-family: var(--font-family2);
  margin:8% 0 1% 8%;
}
.a2-h5{
  font-family: var(--font-family2);
  width: 80%;
  height: 100px;
  text-align: justify;
  font-weight: 500;
  word-spacing: 2px;
  margin:8% 0 1% 8%;
}
.a2-a{
  color: #b3e140;
  font-family: var(--font-family2);
  font-size: 15px;
  margin: 0% 0 0 8%;
}
.a3-h4{
  font-family: var(--font-family2);
  margin:8% 0 1% 8%;
}
.a3-h5{
  font-family: var(--font-family2);
  width: 80%;
  height: 100px;
  text-align: justify;
  font-weight: 500;
  word-spacing: 2px;
  margin:8% 0 1% 8%;
}
.a3-a{
  color: #b3e140;
  font-family: var(--font-family2);
  font-size: 15px;
  margin: 0% 0 0 8%;
}
.a3-h5-a{
  text-decoration: none;
  color: #ff004f;
}

.about-1,
.about-2,
.about-3 {
  /* border: 1px solid blue; */
  width: 28%;
  height: 300px;
  margin: 7% 0 0 3.5%;
}

/* ================
    about-us
  ================ */

/* ================
    Why-us-about
  ================ */

.about-why {
  /* border: 1px solid green; */
  height: 550px;
  width: 100%;
  display: flex;
}

.about-why-left {
  /* border: 1px solid skyblue; */
  width: 60%;
  height: 100%;
  display: grid;
  place-items: center;
}
.about-why-right {
  /* border: 1px solid skyblue; */
  width: 40%;
  height: 100%;
  display: grid;
  place-items: center;
}

.why-h3{
  color: #b3e140;
  font-family: var(--font-family1);
  font-size: 22px;
  word-spacing: 2px;
  margin-bottom: 3%;
}
.why-h2{
  font-family: var(--font-family2);
  font-size: 32px;
  word-spacing: 2px;
  margin-bottom: 3.5%;
}
.why-h5{
  font-family: var(--font-family2);
  text-align: justify;
  width: 95%;
  font-weight: 500;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 3.5%;
}
.why-left-p {
  /* border: 1px solid green; */
  height: 80%;
  width: 80%;
}

.why-btn{
  border: 1px solid #b3e140;
  height: 26px;
  color: #b3e140;
  background-color: transparent;
  border-radius: 4px;
  font-family: var(--font-family2);
  width: 110px;
  margin-bottom: 7%;
  position: relative;
}
.why-btn::before{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #b3e140;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0s;
}
.why-btn:hover::before{
  transform: scaleY(1);
  transition: transform 1s;
}
.why-btn:hover{
  color: #000;
  cursor: pointer;
}
.why-experience{
  font-family: var(--font-family2);
  margin-bottom: 2%;

}
.mobile{
  /* border: 1px solid blue; */
  display: flex;
  height: 50px;
}
.playstore{
  /* border: 1px solid green; */
  width: 23%;
  height: 42px;
  margin-right: 2%;
}
.appstore{
  /* border: 1px solid green; */
  width: 23%;
  height: 42px;
}
.mobile-store{
  height: 100%;
  width: 100%;
}

.why-right-img {
  /* border: 1px solid green; */
  height: 65%;
  width: 85%;
}

.w-r-img{
  height: 100%;
  width: 100%;
}
/* ================
    Why-us-about
  ================ */

/* ================
    feedbacks
  ================ */
.aboutfeedback {
  /* border: 1px solid red; */
  height: 350px;
  width: 100%;
  display: grid;
  place-items: center;
}
.feedbacks {
  /* border: 1px solid black; */
  height: 240px;
  width: 100%;
  display: flex;
}
.feedback-l {
  width: 50%;
  background-color: #000;
  display: flex;
}
.feedback-r {
  width: 50%;
  background-color: #b3e140;
  display: flex;
}

#design,
#stories,
#happyc,
#starreview {
  /* border: 1px solid red; */
  width: 40%;
  height: 70%;
  margin: 3.5% 0 0 4.5%;
  display: grid;
  place-items: center;
}
.counter{
  /* border: 1px solid yellow; */
  width: 100%;
  height: 15%;
}
.counter-p{
  /* border: 1px solid green; */
  width: 100%;
  height: 85%;
}

#feedl-1-1,#feedl-2-1{
  color: white;
  font-size: 50px;
  font-family: var(--font-family2);
  text-align: center;
}
#feedl-1-2,#feedl-2-2{
  color: white;
  font-family: var(--font-family2);
  font-size: 13px;
  text-align: center;
}
#design
.design-p{
  color: white;
}
/* ================
    feedbacks
  ================ */

/* ================
    rating
  ================ */

.rating {
  /* border: 1px solid blue; */
  height: 450px;
  display: grid;
  place-items: center;
}
.rating-h3 {
  font-family: var(--font-family1);
  font-size: 18px;
  height: 5px;
  color: #b3e140;
  text-align: center;
}
.rating-h1 {
  font-family: var(--font-family2);
  font-size: 25px;
  text-align: center;
}

.rating-box {
  /* border: 1px solid black; */
  width: 90%;
  height: 330px;
  display: flex;
}
.rating-1,
.rating-2,
.rating-3 {
  /* border: 1px solid red; */
  height: 80%;
  width: 32%;
  margin: 2.5% 0 0 1%;
  display: flex;
}

.rating-img{
  /* border: 1px solid blue; */
  height: 15%;
  width: 10%;
  margin: 2% 0 0 1%;
}
.rating-text{
  /* border: 1px solid blue; */
  height: 80%;
  width: 80%;
  margin: 8% 0 0 1%;
}
.r-img{
  height: 100%;
  width: 100%;
}
.r-t-1{
  margin-top: 1%;
  font-family: var(--font-family2);
  font-size: 15px;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-align: justify;
}
.r-t-2{
  margin-top: 8%;
  font-family: var(--font-family1);
  color: #b3e140;
  font-size: 14px;
  font-weight: bold;
  word-spacing: 1px;
  letter-spacing: 1.5px;
  text-align: justify;
}
.r-t-3{
  margin-top: .5%;
  font-family: var(--font-family2);
  font-size: 11px;
  color: rgba(0, 0, 0, 0.667);
}
/* ================
    rating
  ================ */

/* =================================================================about-css-end======================================================================= */

/* =================================================================Contact-css-start===================================================================== */

/* ================
     contact-map
  ================ */

.contact-map {
  border: 1px solid blue;
  height: 400px;
  width: 100%;
}
.map{
  width: 100%;
  height: 100%;
}
/* ================
     contact-map
  ================ */

/* ================
     contact-form
  ================ */

.contactform {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-heading {
  text-align: center;
  font-family: var(--font-family2);
  font-size: 19px;
  font-weight: 500;
  margin: 2%;
}
.contact-h {
  /* border: 1px solid blue; */
  width: 40%;
  margin-top: 3%;
}
.contact-f {
  /* border: 1px solid blue; */
  width: 40%;
  height: 100%;
}
.form-i {
  width: 95%;
  height: 40px;
  border-radius: 4px;
  font-family: var(--font-family2);
  border: 1px solid rgba(0, 0, 0, 0.352);
  margin-bottom: 2%;
}

.form-t {
  width: 95%;
  height: 110px;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.352);
}

#contact-f {
  display: grid;
  margin-top: 15px;
  place-items: center;
}
.contact-btn {
  background-color: #000;
  width: 120px;
  height: 35px;
  font-family: var(--font-family2);
  border-radius: 4px;
  z-index: auto;
}
input::placeholder{
  color: rgba(0, 0, 0, 0.719);
  padding-left: 10px;
}
textarea::placeholder{
  color: rgba(0, 0, 0, 0.719);
  font-family: var(--font-family2);
}

/* ================
     contact-form
  ================ */


/* ================
     contact-info
  ================ */
  .contact-info{
    /* border: 1px solid red; */
    height: 250px;
    display: grid;
    place-items: center;
  }

  .contactinfo{
    /* border: 1px solid green; */
    height: 280px;
    width: 90%;
    display: flex;
  }

  .info-1{
    /* border: 1px solid blue; */
    height: 60%;
    width: 23.5%;
    margin:3.5% 0 0 1%;
    display: flex;
  }
  .info-i{
    /* border: 1px solid black; */
    width: 23%;
    height: 45%;
    margin: 9% 4% 0 0;
  }
  #info-i{
    height: 100%;
    width: 100%;
  }
  .info-p{
    /* border: 1px solid darkgoldenrod; */
    width: 65%;
    height: 80%;
    margin-top: 6%;
  }
  .info-p1{
    font-family: var(--font-family2);
    margin: 10% 0 8% 3%;
    font-size: 18px;
  }
  .info-p2{
    font-family: var(--font-family2);
    margin: 0 0 0 3%;
    font-size: 13px;
  }
/* ================
     contact-info
  ================ */


/* ================
     contact-description
  ================ */
  .description{
    height: 450px;
    background-color: #000;
    padding: 40px;
    display: flex;
  }
  .desc-1{
    /* border: 1px solid red; */
    width: 20%;
    margin:3% 2.5% 0 2.5%;
  }

  .desc-h3{
    color: white;
    font-family: var(--font-family2);
    font-size: 17px;
    margin-bottom: 25px;
    letter-spacing: .5px;
  }
  .desc-h3-connect{
    color: white;
    font-family: var(--font-family2);
    font-size: 17px;
    margin-bottom: 25px;
  }
  .desc-h3-key{
    color: white;
    font-family: var(--font-family2);
    font-size: 17px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .desc-h3-local{
    color: white;
    font-family: var(--font-family2);
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .desc-p{
    color: rgba(255, 255, 255, 0.901);
    font-family: var(--font-family2);
    font-size: small;
    text-align: justify;
    width: 95%;
    margin: 5% 0 5% 0;
    word-spacing: 1px;
    letter-spacing: .5px;
  }
  .desc-l a{
    list-style: none;
    color: rgba(255, 255, 255, 0.901);
    text-decoration: none;
    font-family: var(--font-family2);
    font-size: 14px;
  }
  .desc-l a li{
    margin-top: 3px;
    line-height: 20px;
  }

  .contact-product{
    /* border: 1px solid red; */
    height: 80%;
    width: 100%;
  }
  .c-p-1{
    /* border: 1px solid green; */
    height: 24%;
    margin-top: 1%;
    display: flex;
  }
  .c-p-img{
    border: 1px solid white;
    margin-right: 3%;
    width: 30%;
  }
  #c-p-img{
    height: 100%;
    width: 90%;
    margin-left: 5%;
  }

  .c-p-rate{
    display: flex;
  }
  #rate-1{
    margin:30% 0 0 20%;
    color: white;
    text-decoration: line-through;
    font-family: var(--font-family2);
  }
  #rate-2{
    margin:30% 0 0 10%;
    color: #b3e140;
    font-family: var(--font-family2);
  }
/* ================
     contact-description
  ================ */



/* ===================================================================Contact-css-end===================================================================== */
